*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(194, 196, 197);
}

header {
  background-color: #000;
  height: 3em;
}

.headine {
  display: flex;
  width: 97%;
  justify-content: space-between;
  border-bottom: 1px solid rgb(184, 181, 181);
  padding-bottom: 1em;
  padding-inline: 1em;
}

.listItmes {
  list-style: none;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(184, 181, 181);
  padding-bottom: 1em;
  padding-inline: 1em;
}

#todo {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(184, 181, 181);
  padding-bottom: 1em;
  padding-inline: 1em;
  width: 97%;
}

.task-container {
  margin-inline: auto;
  margin-top: 2em;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 2px 5px 5px #fff;
  padding-top: 1em;
  position: relative;
}

#refresh {
  color: rgb(117, 112, 112);
}

span {
  margin-left: 10px;
}

.input-container {
  position: relative;
  width: 100%;
}

.fa-level-down {
  position: absolute;
  color: rgb(184, 181, 181);
  right: 2%;
  top: 0;
}

.fa-ellipsis-v {
  position: absolute;
  right: 2%;
  color: rgb(184, 181, 181);
}

button {
  border: none;
  text-align: center;
  padding-block: 1em;
  font-size: 1rem;
  color: rgb(184, 181, 181);
}

.inputEdit {
  border: none;
  outline: none;
  margin-left: 0.5em;
}

.fa-trash {
  color: rgb(184, 181, 181);
  position: absolute;
  right: 10%;
}

footer {
  background-color: #000;
  height: 3em;
  margin-top: 18%;
}
